/*
Color schemes via Palleton

Gurren Blue: http://paletton.com/#uid=13z0u0kmYN7c7VOi5RtrJIeCECh	
color-primary-0 { color: #4894D8 } Main Primary color 
color-primary-1 { color: #9CC8F0 }
color-primary-2 { color: #6CACE4 }
color-primary-3 { color: #277DCA }
color-primary-4 { color: #0A67BA }

Gurren Red: http://paletton.com/#uid=1000u0kqCrBgo-alktAsXm7xNhg
color-primary-0 { color: #DC2525 } Main Primary color 
color-primary-1 { color: #FF7D7D }
color-primary-2 { color: #EC4F4F }
color-primary-3 { color: #B01111 }
color-primary-4 { color: #890000 }

*/

* {
	border: 1px solid red;
}

body {
	color: #eee;
	background-image: url(../images/gurren-bg.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.intro {
	width: 600px;
	margin: 0 auto;
}

.logo {
	background-color: #0A67BA;
	background-image: url(../images/gurren-logo-small.png);
	width: 190px;
	height: 190px;
	border: 2px solid white;
	border-radius: 50%;
}

.banner {
	width: 500px;
	margin: 0 auto;
}

.banner h1 {
	font-family: 'Permanent Marker', cursive;
	font-size: 1.9em;
	width: 140px;
}

.banner-inner {
	width: 490px;
	margin: 0 auto;
}

.banner-element {
	display: inline-block;
	vertical-align: middle;
}

.be-first {
	text-align: right;
}

