/*
Color schemes via Palleton

Gurren Blue: http://paletton.com/#uid=13z0u0kmYN7c7VOi5RtrJIeCECh	
color-primary-0 { color: #4894D8 } Main Primary color 
color-primary-1 { color: #9CC8F0 }
color-primary-2 { color: #6CACE4 }
color-primary-3 { color: #277DCA }
color-primary-4 { color: #0A67BA }

Gurren Red: http://paletton.com/#uid=1000u0kqCrBgo-alktAsXm7xNhg
color-primary-0 { color: #DC2525 } Main Primary color 
color-primary-1 { color: #FF7D7D }
color-primary-2 { color: #EC4F4F }
color-primary-3 { color: #B01111 }
color-primary-4 { color: #890000 }

*/

body {
	background-image: url(../images/gurren-bg.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.intro {
	width: 600px;
	margin: 0 auto;
	font-family: Impact, Charcoal, sans-serif;
	color: #EC4F4F;
	text-align: center;
	text-shadow: 2px 2px black;
}

.intro h2 {
	font-size: 1.5em;
	margin-bottom: 0.5em
}

.logo {
	background-color: #0A67BA;
	background-image: url(../images/gurren-logo-small.png);
	width: 190px;
	height: 190px;
	border: 2px solid white;
	border-radius: 50%;
}

.banner {
	width: 500px;
	margin: 1em auto;
	color: white;
}

.banner h1 {
	font-family: 'Permanent Marker', cursive;
	font-size: 1.9em;
	width: 140px;
}

.banner-inner {
	width: 490px;
	margin: 0 auto;
}

.banner-element {
	display: inline-block;
	vertical-align: middle;
}

.be-first {
	text-align: right;
}

.main {
	width: 600px;
	margin: 1em auto;
	background-image: url(../images/metal-bg.jpg);
	border: 3px solid black;
	border-radius: 16px;
	padding: 16px;
}

.add-box {
	border-bottom: 2px dashed white;
	width: 460px;
	margin: 0.25rem auto;
	height: 3rem;
}

.info-panel {
	display: none;
	position: relative;
	left: 30px;
	top: 5px;
	width: 400px;
	padding: 5px;
	border: 2px solid #0A67BA;
	background-color: #890000;
	font-family: 'Ubuntu Mono', sans-serif;
	color: white;
}

.info-panel i {
	color: #9CC8F0;
}

.button {
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid white;
	background-color: #B01111;
	color: #6CACE4;
	text-align: center;
/*	vertical-align: middle;*/
	line-height: 20px
}

.button:hover {
	cursor: pointer;
	background-color: #6CACE4;
	color: #B01111;
}

#handle {
	display: inline-block;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	color: white;
	/*vertical-align: middle;*/
}

.handle:hover {
	cursor: move;
}

.item-display {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	background-color: #222;
	background-image: url(../images/grid.png);
	width: 480px;
	height: 2rem;
	line-height: 2rem;
	color: white;
	font-family: 'Permanent Marker', cursive;
	font-variant: small-caps;
}

.item-box {
	margin: 0.25rem auto;
	display: block;
	height: 3rem;
	width: 588px;
}

.item-box:hover {
	cursor: default;
}

.unchecked {
	font-size: 1.25rem;
	color: #fff;
	text-decoration: none;
}

.checked {
	font-size: 1rem;
	color: #999;
	text-decoration: line-through;
}

#check-o {
	display: none;
}

.item-entry {
	height: 20px;
	width: 400px;
	border: 2px dashed #555;
	background-color: #222;
	text-align: center;
	color: white;
	font-family: 'Ubuntu Mono', sans-serif;
}

.item-entry:focus {
	outline: 0;
}

#edit-box {
	display: none;
}

.drill {
	height: 150px;
	width: 150px;
	margin: 0 auto;
	background-image: url(../images/core-drill.png);
}

.credits {
	width: 50%;
	margin: 0.25rem auto;
	background-image: url(../images/metal-bg.jpg);
	color: #ccc;
	font-family: 'Ubuntu Mono', sans-serif;
	font-size: 0.75rem;
	border-radius: 16px;
	border: 2px solid black;
	text-align: center;
}

.credits a {
	text-decoration: none;
	color: white;
}